:root{
    --bg: #1E2140;
    --stage-bg: #14162b;
    --menu: #7C7F9E;
    --progress: #F77072;
    --radial-gradient: radial-gradient(ellipse at center, #1C6EA4 0%, #1C6EA4 50%, #090602 100%);
    --font-timer: 'Chakra Petch', sans-serif;
    --font-body: 'Mukta', sans-serif;
    --font-color: white;
    --normal-ring: #17171a;
    --display-bg: radial-gradient(71.4% 71.4% at 51.7% 28.6%, #3a393f 0%, #17171a 100%);
    --duration: 10s;
}